
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Inconsolata', monospace; 
    overflow-x: hidden;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-sizing: border-box;
    background-color: #f8f8f8; /* test background color */
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-right a {
    text-decoration: none;
    color: black; /* Optional */
    font-size: 16px;
}

.logo img {
    height: 40px; 
    width: auto;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.image-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 100vw;
    overflow-x: hidden;
}

.image-title {
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
    color: whitesmoke;
    font-size: 15rem;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    text-align: center;
    z-index: 3;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    
}

.bold-part {
    font-weight: 700;
}

.image-button {
    position: absolute;
    top: 900px; /* adjust vertically relative to title */
    left: 84%;
    transform: translateX(-50%);
    z-index: 3;
    background-color: rgb(60, 117, 194);
    padding: 10px 16px;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
}

.image-button a {
    color: white;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
    font-weight: 600;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px; /* test and adjust */
    background: linear-gradient(
    to top,
    #ffffff 0%,
    rgba(255, 255, 255, 0.9) 30%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 100%);
    z-index: 2;
    pointer-events: none;
}

.processImage {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
}


  .footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0; /* test background color */
}